body {
    
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   line-height: 1.6;
   background-color: rgb(255, 255, 255);
    }


    header {
   font-family: monospace;
   line-height: 2.1;
   text-align: center;
   font-family:Georgia, 'Times New Roman', Times, serif;
   background-color: rgb(21, 85, 124);
    }

h1 {
 font-family: monospace;
   line-height: 2.1;
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;

}

 p {
font-family:Arial, Helvetica, sans-serif;
    }

    main {
         text-align:right;
    }



